<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!--
    - This is a sample configuration for log4j.
    - It simply just logs everything into a single log file.
    - Note, that you can use properties for value substitution.
    -->
  <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="File"   value="${catalina.home}/logs/front.log" />
     	<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
    	<param name="Append" value="false" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="mpos-%d %-5p %t %c - %m%n"/>
    	</layout>
  </appender>
   <appender name="console"   
        class="org.apache.log4j.ConsoleAppender">  
        <param name="Threshold" value="info"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="mpos-%d %-5p %t %c - %m%n"/> 
        </layout>  
    </appender> 

  <root>
    <priority value="${org.apache.cocoon.log4j.loglevel}"/>
    <!-- <appender-ref ref="file"/> -->
    <appender-ref ref="console"/>
  </root>
</log4j:configuration>
